<div class="grid.sm">
  <kendo-grid #grid [data]="" [height]="900" width=[300] [pageable]="true"
           [navigable]="true" [pageable]="true" (add)="addHandler($event)">


          <kendo-grid-column field="Name" title="Name"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="MobileNo" title="Mobile No"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="DOB" editor="date" title="Date of Birth"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="DOJ" title="Date of Joining"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="BloodGroup" title="Blood Group"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="EmergencyNo" title="Emergency No"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="Address" title="Address"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="PanNo" title="PAN No"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="BankAccountNo" title="Bank Account No"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="BankName" title="Bank Name"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="IFSCCode" title="IFSC Code"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="EmailID" title="Email ID"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
          <kendo-grid-column field="Active" title="Active"
          [headerStyle]="{'background-color': 'lightsalmon','color': 'Black'}">
          </kendo-grid-column>
  </kendo-grid>
</div>
