<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="header"><span>Employee Details</span></mat-card-title>
    </mat-card-header>
    <br>
    <br>
    <form [formGroup]="registerForm">
      <mat-card-content>

        <div class="form-group">
          <label>Name : {{data.Name}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Mobile Number : {{data.MobileNo}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Date of Birth : {{data.DOB}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Blood Group : {{data.BloodGroup}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Emergency Number : {{data.ECN}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Address : {{data.Address}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>PAN Number : {{data.PANNo}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Bank Account Number : {{data.BAN}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label> Bank Name : {{data.BankName}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Bank IFSC Code : {{data.IFSC}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Email ID : {{data.email}}</label>
          <br>
          <br>
        </div>

        <div class="form-group">
          <label>Active : {{data.Active}}</label>
          <br>
          <br>
        </div>

      </mat-card-content>
    </form>
  </mat-card>

</div>